@{
    Layout = null;
}
<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_LayoutViewComponentPartial")

<body>
    <div class="wrapper">
        @await Component.InvokeAsync("_LayoutnavbarComponentPartial")
        @await Component.InvokeAsync("_LayoutSidebarComponentPartial")
        <div class="main-panel">
            @RenderBody()
            @await Component.InvokeAsync("_LayoutFooterComponentPartial")
        </div>
        
    </div>
</body>
@await Component.InvokeAsync("_LayoutScriptComponentPartial")
</html>
